# Clase del 05/11/2022

## Creando variables

In [1]:
a = 10
b = 50
c = a + b 
print(a,b,c)

10 50 60

¿Qué está mal con la siguiente asignación?

In [2]:
nombre-alumno = 10

SyntaxError: cannot assign to operator (3646485998.py, line 1)

In [3]:
radio. = 5

SyntaxError: invalid syntax (1297430303.py, line 1)

### Asignación múltiple

In [4]:
x,y,z = 5,6,7
print(x,y,z)

5 6 7

### ¿Cómo ver las variables que hemos creado?

In [5]:
# Esto sólo funciona en Jupyter 
%whos

Variable   Type    Data/Info
----------------------------
a          int     10
b          int     50
c          int     60
x          int     5
y          int     6
z          int     7

### ¿Cómo identificar el tipo de dato de una variable/objeto?

In [6]:
n = 3000
f = "Hola"
s = 12.57
g = True

print(type(n), type(f), type(s), type(g))

<class 'int'> <class 'str'> <class 'float'> <class 'bool'>

## Algunos tipos de datos básicos

### Enteros

In [7]:
a = 100
b = 20
c = a + b
d = a / b
print(type(a), type(b), type(c), type(d))

<class 'int'> <class 'int'> <class 'int'> <class 'float'>

### De punto flotante

In [8]:
x = 50.
y = 10.5
print(type(x), type(y))

<class 'float'> <class 'float'>

### Booleanos

In [9]:
r = True
s = 5 > 10
print(type(r), type(s))

<class 'bool'> <class 'bool'>

### Cadenas de caracteres

In [10]:
nombre = "Ana"
saludo = "Hola"
print(type(nombre), type(saludo))

<class 'str'> <class 'str'>

<hr style="border: solid 2px; color: #ff0000;">

## Reto 1

¿Puedes identificar el tipo de dato de cada una de las siguientes variables?

```python
a = "5.35"
b = 1050
c = 4.8
d = 'hola'
e = b - 5.0
```

Trata de identificarlas y corrobora descomentando y ejecutando la siguiente celda:

In [37]:
# a = "5.35"
# b = 1050
# c = 4.8
# d = 'hola'
# e = b - 5.0
# print(type(a),type(b),type(c),type(d),type(e),sep="\n")

<hr style="border: solid 2px; color: #ff0000;">

## Conversiones entre tipos de datos

### De `str` a `int`

In [38]:
a = 10
b = "10"
print( a+int(b) )

20

### De `str` a `float`

In [39]:
a = 4.3
b = "5.5"
print( a+float(b) )

9.8

### De `float` a `str`

In [40]:
a = 3.1416
b = str(a)
print(a+a)
print(b+b)

6.2832
3.14163.1416

### De `int` a `str`

In [41]:
x = 17
y = str(x)
print(3*x)
print(3*y)

51
171717

## Los operadores aritméticos

| Operador | Operación |
| -------- | --------- |
| `+` | Suma |
| `-` | Resta |
| `*` | Multiplicación |
| `/` | División |
| `//` | División entera |
| `%` | Módulo |
| `**` | Exponenciación |

In [19]:
100 + 300 + 500

900

In [20]:
100 - 50 - 25

25

In [21]:
2*2*3

12

In [22]:
15 / 2

7.5

In [23]:
15 // 2

7

In [24]:
15 % 2

1

In [25]:
2**4

16

## Expresiones aritméticas

Evalúa cada una de las siguientes expresiones:

<hr style="border: solid 2px; color: #38ba8f;">

$$ 300 + 200 - 12 $$

In [42]:
300 + 200 - 12

488

<hr style="border: solid 2px; color: #38ba8f;">
$$ 1 + 2 + 3(6-1) + 7(4+5) $$

In [43]:
1 + 2 + 3*(6-1) + 7*(4+5)

81

<hr style="border: solid 2px; color: #38ba8f;">
$$ \frac{1}{2} + \frac{1}{3} $$

In [44]:
1/2 + 1/3

0.8333333333333333

<hr style="border: solid 2px; color: #38ba8f;">

$$ 4^2 + 3^3 + 8^{1/3} $$

In [54]:
4**2 + 3**3 + 8**(1/3)

45.0

<hr style="border: solid 2px; color: #38ba8f;">
$$ \frac{18}{27^{1/3}} + \frac{5^2}{3+2} $$

In [59]:
18/(27**(1/3)) +  5**2 / (3+2)

11.0

<hr style="border: solid 2px; color: #38ba8f;">
$$ \sqrt{2} + \sqrt{3} $$

In [64]:
2**(1/2) * 3**(1/2)

2.4494897427831783

<hr style="border: solid 2px; color: #38ba8f;">
$$ \frac{x}{\sqrt{y}} + x^2 y^2  $$

Si $x = 5$ y $ y = 4 $

In [68]:
x = 5
y = 4

x / y**(1/2) + x**2 * y**2

402.5

<hr style="border: solid 2px; color: #ff0000;">

## Reto 2

Dada la siguiente expresión aritmética:

$$ \frac{\sqrt{9}}{2} + \frac{20}{3^2 - 4} $$

¿Cuál de las siguientes expresiones algorítmicas es la correcta?

In [73]:
# Opción a)
9**(1/2) / 2 + 20 / (3**2 - 4)

5.5

In [74]:
# Opción b)
( (9**1/2) / 2 ) + ( 20 / (3**2 - 4) )

6.25

<hr style="border: solid 2px; color: #ff0000;">

## La función `print`

In [75]:
print(1000)

1000

In [77]:
print(1000, 2000, 3000, 4000, 5000)

1000 2000 3000 4000 5000

In [78]:
print("Hola", 2000, True)

Hola 2000 True

In [92]:
print(1000)
print(2000)
print(3000)

1000
2000
3000

In [93]:
print(1000, 2000, 3000, sep="\n")

1000
2000
3000

In [94]:
print(1000, 2000, 3000, sep="--")

1000--2000--3000

In [95]:
print(1000, 2000, 3000, sep="\U0001F600")

1000😀2000😀3000

## La función `input`

In [97]:
a = input("Ingrese un valor: ")

Ingrese un valor: 10

In [99]:
print(a, type(a))

10 <class 'str'>

In [102]:
n = input("Ingrese un valor: ")
n = float(n)
print(n, type(n))

Ingrese un valor: 10
10.0 <class 'float'>

In [104]:
n = float( input("Ingrese un valor: ") )
print(n, type(n))

Ingrese un valor: 5
5.0 <class 'float'>